<!-- Independent Samples t-test Template -->
<ion-view ng-controller="IndTController" view-title="Independent Samples t-test">
    <ion-pane>
        <ion-header-bar class="bar-dark">
            <h1 class="title">Independent Samples t-test</h1>
        </ion-header-bar>
        <ion-content>
            
            <label class="item item-input">
  				<span class="input-label">Experimental</span>
  				<input ng-model="experimentalData" type="text">
			</label>
            
            <label class="item item-input">
                <span class="input-label">Control</span>
                <input ng-model="controlData" type="text">
            </label>
            
            <button style="margin: 20px auto; display: table" class="button icon-left ion-plus button-large button-positive" ng-click="add(experimentalData, controlData)">
                Add to Dataset
            </button>
        
            <ion-list ng-show="dataset.length > 0">
                <ion-item ng-repeat="data in dataset">
                    <div style="padding: 0" class="row">
                        <span class="col">{{ data.experimental }}</span>
                        <span class="col">{{ data.control }}</span>
                    </div>
                    <ion-option-button class="button-balanced">
                        Edit
                    </ion-option-button>
                    <ion-option-button class="button-assertive">
                        Delete
                    </ion-option-button>
                </ion-item>
            </ion-list>
            
            <button ng-show="dataset.length >= 2" style="margin: 20px auto; display: table" class="button icon-left ion-plus button-large button-positive" ng-click="compute()">
                Compute
            </button>            
        </ion-content>
    </ion-pane>
</ion-view>